*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding-left: 0px;
}

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --logo-site-nav-color: #2196f3;
  --white-text-color: #ffffff;
}
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.02em;
  font-style: 400px;
  font-weight: 400px;
}
img {
  display: block;
}
.container {
  width: 1200px;
  margin-right: 215px;
  margin-left: 215px;

  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid red;
}

a {
  list-style: none;
  text-decoration: none;
}
ul {
  list-style: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*================================== Heder===============================*/
.nav-dуcoration-list {
  display: flex;
  content: "";
  align-items: center;
}
.nav-decoration-list-svg {
  align-items: center;
  fill: #757575;
  margin-right: 10px;
  width: 17px;
  height: 17px;
}
.nav-decoration-list-svg:hover,
.nav-decoration-list-svg:focus {
  fill: var(--logo-site-nav-color);
}

.nav-decoration-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header {
  background-color: var(--white-text-color);
  border: 1px solid #ececec;
}
.logo {
  color: var(--logo-site-nav-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.list {
  margin: 0px;
  padding: 0px;
}
.accent {
  color: var(--primary-text-color);
  font-family: Raleway;
}
.accent-footer {
  color: var(--white-text-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  font-style: 400px;
  text-decoration: none;
}
.second-nav {
  display: flex;
  margin-left: auto;
}
.link-address {
  margin-right: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
}
.link-address:hover,
.link-address:focus {
  color: var(--logo-site-nav-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--logo-site-nav-color);
}
.site-nav .link.current {
  color: var(--logo-site-nav-color);
}

/*================================== END Heder ===============================*/
/*================================== Hero ===============================*/
.hero {
  background-color: var(--title-text-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../svg.img/hero.jpg);
  background-repeat: no-repeat;

  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}

.button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  text-align: center;
  color: var(--white-text-color);
  background-color: var(--logo-site-nav-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.2;
}

/*================================== End Hero ===============================*/
/*================================== section-proposition ===============================*/
.proposition-item {
  width: 270px;
}
.proposition-item::before {
  display: flex;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  width: 100%;
  display: block;
  content: "";

  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
}
.proposition-item-antenna::before {
  background-image: url("../svg.img/antenna.svg");
}
.proposition-item-clock::before {
  background-image: url("../svg.img/clock.svg");
}
.proposition-item-diagram::before {
  background-image: url("../svg.img/diagram.svg");
}
.proposition-item-astronaut::before {
  background-image: url("../svg.img/astronaut.svg");
}
.section-proposition {
  background-color: var(--white-text-color);
  padding-bottom: 94px;
  padding-top: 94px;
}
.proposition-title-list {
  display: flex;
  justify-content: space-between;

  margin-top: 0px;
  margin-bottom: 10px;
  width: 270px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);
}
.proposition-title {
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #212121;
}
.proposition-list {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}
.proposition-list .item {
  width: 270px;
  margin-right: 30px;
}
.proposition-list .item:nth-child(4) {
  margin: 0px;
}

.proposition-text {
  display: flex;

  margin-top: 0px;
  margin-bottom: 0px;
  font-style: 400px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}
/*================================== End section-proposition ===============================*/
/*================================== section-activity ===============================*/
.section-activity {
  background: #ffffff;
  padding-bottom: 94px;
}

.activity-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.activity-list .item {
  width: 370px;
  margin-right: 30px;
}
.activity-list .item:nth-child(3) {
  margin: 0px;
}
.activity-title {
  display: block;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: 400px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 50px;
  padding-bottom: 0px;
}
.activity-title-list {
  font-style: 400px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);

  margin-top: 0%;
  margin-bottom: 10px;
}
.activity-title-list .text {
  font-style: 400px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-text-color);
  margin-top: 0%;
  margin-bottom: 10px;
}
/*================================== End section-activity ===============================*/
/*================================== section-command ===============================*/
.social-list {
  display: flex;
  content: "";
  justify-content: space-between;
  align-items: center;
}
.social-list-svg {
  justify-content: space-between;
  align-items: center;
  fill: #afb1b8;

  width: 20px;
  height: 20px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--logo-site-nav-color);
}
.social-list-link:hover .social-list-svg,
.social-list-link:focus .social-list-svg {
  fill: #ffffff;
}
.section-command {
  padding-bottom: 94px;
  padding-top: 94px;
  background: #f5f4fa;
}
.command-box {
  box-sizing: border-box;
  padding: 30px 32px;
}
.command-list {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.command-list .item {
  margin-right: 30px;
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.command-list .item:nth-child(4) {
  margin: 0px;
}
.command-title {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.command-title-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.command-title-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.187;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

/*================================== section-command ===============================*/
/*================================== section-customers ===============================*/
.customers-list-link {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 170px;
  height: 90px;
  /* border: 1px solid #afb1b8; */
  box-sizing: border-box;
  border-radius: 4px;
}

.customers-svg {
  margin: 0%;
  display: flex;

  justify-content: center;
  align-content: center;

  align-items: center;
  fill: #afb1b8;

  max-width: 55px;
  min-height: 55px;
}
.customers-svg:hover,
.customers-svg:focus {
  fill: #2196f3;
}
.customers-list-link:hover .customers-svg {
  fill: var(--logo-site-nav-color);
}
.section-customers {
  display: flex;

  padding-top: 94px;
  padding-bottom: 94px;
  background: #ffffff;
}
.customers-list {
  display: flex;
  content: "";
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.customers-title {
  margin-top: 0%;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.customers-item {
  display: flex;
  text-align: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  height: 90px;
  width: 170px;
  display: block;
  content: "";
}
.customers-item:hover {
  fill: #2196f3;
}

/*================================== End section-customers ===============================*/
/*================================== Footer===============================*/
.footer-social-list-item {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.box-container {
  display: flex;
}

.footer .container {
  display: flex;
}
.container-footer {
  display: flex;
  flex-direction: column;
}
.social-icon {
  margin-left: 70px;

  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.join {
  margin-bottom: 20px;
  display: flex;
  align-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.footer-social-list {
  display: flex;
  content: "";
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;

  content: "";
  /* justify-content: space-between; */
  align-items: center;
}
.footer-social-list-svg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  fill: #ffffff;

  width: 20px;
  height: 20px;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--logo-site-nav-color);
}
.footer-social-list-link:hover .social-list-svg,
.footer-social-list-link:focus .social-list-svg {
  fill: #ffffff;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-address::after {
  display: flex;
  flex-direction: column;
  font-style: italic;
  font-family: Roboto;
  font-style: normal;
}
.logo-footer {
  display: flex;

  margin-bottom: 20px;
  color: var(--logo-site-nav-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.accent-footer {
  color: var(--white-text-color);
}
.city {
  margin-top: 0px;
  margin-bottom: 9px;
  color: var(--white-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
}
.citi-mail {
  margin-bottom: 9px;

  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  font-family: Roboto, sans-serif;
}
.citi-mail:hover,
.citi-mail:focus {
  color: var(--logo-site-nav-color);
}

.citi-tel {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  font-family: Roboto;
}
.citi-tel:hover,
.citi-tel:focus {
  color: var(--logo-site-nav-color);
}
/*================================== End Footer===============================*/
/*================================== портфолио css===============================*/
.portfolio-item {
  border: 1px solid #eeeeee;
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-gallery {
  display: flex;
  text-decoration: none;
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-box {
  padding: 20px 24px;
}

.portfolio {
  margin: 0px;
  display: flex;
  display: none;
}
.button-portfolio-list {
  display: flex;
  justify-content: center;
  padding-left: 0px;

  margin-top: 0px;
  margin-bottom: 50px;
}
.button-portfolio {
  border: 1px solid transparent;
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  text-align: center;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list .portfolio-item {
  margin-bottom: 30px;
}
.portfolio-list.portfolio-item:nth-last-child(3) {
  margin: 0px;
}
.button-portfolio-list .item + .item {
  margin-left: 8px;
}
.button-portfolio-list :hover,
.button-portfolio-list :focus {
  color: var(--white-text-color);
  background-color: var(--logo-site-nav-color);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  padding-left: 0px;
}
.portfolio-title {
  margin-top: 0px;
  margin-bottom: 2px;
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}
.portfolio-text {
  margin: 0px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  color: var(--title-text-color);
}
/*================================== end портфолио css===============================*/
