*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.02em;
  font-style: 400px;
  font-weight: 400px;
}

img {
  display: block;
}

a {
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0px auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --logo-site-nav-color: #2196f3;
  --white-text-color: #ffffff;
}

.button-header {
  display: inline-flex;
  border: none;
  background-color: transparent;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .button-header {
    display: none;
  }
}

.button-header .icon-cross {
  display: none;
}

.button-header.is-open .icon-cross {
  display: block;
}

.button-header.is-open .icon-menu {
  display: none;
}

.icon-cross {
  border: none;
}

.icon-cross:hover,
.icon-cross:focus {
  fill: #2196f3;
}

.icon-menu {
  border: none;
}

.icon-menu:hover,
.icon-menu:focus {
  fill: #2196f3;
}

.menu-nav-container.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .menu-nav-container {
    padding: 60px 0;
    background: #ffffff;
    justify-content: center;
    display: none;
    position: absolute;
    width: 100%;
    min-height: 400px;
    left: 0px;
    top: 100%;
    z-index: 5;
  }
  .menu-nav-container .site-nav {
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
  }
  .menu-nav-container .site-nav .item {
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .menu-nav-container .site-nav .list {
    margin: 0 auto;
    justify-content: center;
  }
  .menu-nav-container .link-address {
    font-size: 18px;
    line-height: 1.666;
    margin-right: 0;
    margin-bottom: 16px;
  }
  .menu-nav-container .site-nav .item + .item {
    margin-left: 0%;
  }
  .menu-nav-container .site-nav .current::after {
    width: 100%;
    height: 4px;
    bottom: -50%;
    background: #2196f3;
    border-radius: 2px;
  }
  .menu-nav-container .site-nav .link {
    margin: 0 auto;
  }
}

@media screen and (min-width: 767px) {
  .menu-nav-container {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1999px) {
  .page-header {
    margin: 0 auto;
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .site-nav .link {
    margin: 0;
  }
  .link-address {
    font-size: 12px;
    line-height: 1.166;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .second-nav {
    display: block;
  }
  .site-nav .list {
    display: block;
  }
  .list-contacts {
    display: block;
  }
}

.list-contacts {
  align-items: center;
  align-self: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-contacts:hover, .list-contacts:focus {
  fill: var(--logo-site-nav-color);
}

.nav-decoration-list-svg {
  fill: #757575;
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.link-address:hover .nav-decoration-list-svg,
.nav-decoration-list-svg:focus {
  fill: var(--logo-site-nav-color);
}

.page-header {
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: end;
  padding-top: 23px;
  padding-bottom: 23px;
  background-color: var(--white-text-color);
}

.logo {
  text-align: center;
  margin-left: 15px;
  color: var(--logo-site-nav-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.list {
  margin: 0px;
  padding: 0px;
}

.accent {
  color: var(--primary-text-color);
  font-family: Raleway;
}

.accent-footer {
  color: var(--white-text-color);
}

.site-nav {
  display: flex;
  margin-left: 60px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: flex;
  position: relative;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  font-style: 400px;
  text-decoration: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  position: absolute;
  left: 0;
  bottom: -286%;
  opacity: 1;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .current::after {
  opacity: 1;
  color: var(--logo-site-nav-color);
}

.second-nav {
  display: flex;
  margin-left: auto;
}

.link-address {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-address:hover, .link-address:focus {
  color: var(--logo-site-nav-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--logo-site-nav-color);
}

.site-nav .link.current {
  color: var(--logo-site-nav-color);
}

.site-nav .list {
  display: none;
}

@media screen and (min-width: 1200px) {
  .link-address {
    margin-left: 30px;
    margin-bottom: 0;
  }
  .page-header {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .site-nav .current::after {
    width: 100%;
    height: 4px;
    bottom: -207%;
  }
  .site-nav-list {
    display: flex;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../hero.img/bg-mobail.jpg);
  background-repeat: no-repeat;
  background-color: var(--title-text-color);
  background-size: cover;
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  color: var(--white-text-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  text-align: center;
  color: var(--white-text-color);
  background-color: var(--logo-site-nav-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.2;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../hero.img/bg-mobail@2x.jpg");
  }
}

@media screen and (min-width: 480px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.615;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../hero.img/bg-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px), screen and (min-resolution: 192dpi) and (min-width: 480px), screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../hero.img/bj-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../hero.img/bg-desktop.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../hero.img/bg-desktop@2x.jpg");
  }
}

.section-proposition {
  background-color: var(--white-text-color);
  padding-bottom: 60px;
  padding-top: 60px;
}

.proposition-list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}

.proposition-item::before {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  max-width: 450px;
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
}

.proposition-title-list {
  margin-top: 0px;
  margin-bottom: 10px;
  max-width: 450px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-text-color);
}

.proposition-text {
  max-width: 450px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-style: 400px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 480px) {
  .proposition-title-list {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .proposition-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .proposition-item::before {
    max-width: 354px;
  }
  .proposition-title-list {
    display: flex;
    justify-content: space-between;
    max-width: 354px;
  }
  .proposition-text {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .section-proposition {
    background-color: var(--white-text-color);
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .proposition-item::before {
    max-width: 270px;
  }
  .proposition-title-list {
    max-width: 270px;
  }
  .proposition-item::before {
    max-width: 270px;
  }
  .proposition-text {
    max-width: 270px;
    margin-bottom: 0%;
  }
}

.proposition-item-antenna::before {
  background-image: url("../svg.img/antenna.svg");
}

.proposition-item-clock::before {
  background-image: url("../svg.img/clock.svg");
}

.proposition-item-diagram::before {
  background-image: url("../svg.img/diagram.svg");
}

.proposition-item-astronaut::before {
  background-image: url("../svg.img/astronaut.svg");
}

.section-activity {
  background: #ffffff;
  padding-bottom: 94px;
  display: none;
}

.activity-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.activity-list-conteiner {
  position: relative;
  bottom: 19%;
  left: 0;
  display: flex;
  justify-content: center;
  max-width: 370px;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.activity-list .item {
  width: 370px;
  margin-right: 30px;
}

.activity-list .item:nth-child(3) {
  margin: 0px;
}

.activity-title {
  display: block;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: 400px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 50px;
  padding-bottom: 0px;
}

.activity-title-list {
  font-style: 400px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-top: 0%;
  margin-bottom: 10px;
}

.activity-title-list .text {
  font-style: 400px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-text-color);
  margin-top: 0%;
  margin-bottom: 10px;
}

.activity-list-text {
  padding-bottom: 27px;
  padding-top: 27px;
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .section-activity {
    display: block;
  }
}

.social-list {
  display: flex;
  content: "";
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.social-list-svg {
  justify-content: space-between;
  align-items: center;
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--logo-site-nav-color);
}

.social-list-link:hover .social-list-svg,
.social-list-link:focus .social-list-svg {
  fill: #ffffff;
}

.section-command {
  padding-bottom: 60px;
  padding-top: 60px;
  background: #f5f4fa;
}

.command-box {
  width: 100%;
  box-sizing: border-box;
  padding: 30px 32px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.command-list .item {
  margin-bottom: 30px;
  background: #ffffff;
}

.command-list .item:last-child {
  margin-bottom: 0%;
}

.command-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.command-title-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.command-title-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

@media screen and (min-width: 480px) {
  .command-box {
    width: 100%;
  }
  .command-title {
    font-size: 28px;
    line-height: 1.178;
  }
}

@media screen and (min-width: 768px) {
  .command-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .command-list .item:nth-last-child(-n + 2) {
    margin-bottom: 0%;
  }
  .command-box {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .section-command {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .command-box {
    height: 186px;
    width: 100%;
  }
  .command-title {
    font-size: 36px;
    line-height: 1.166;
  }
  .command-list .item {
    margin-bottom: 0%;
  }
}

.customers-list-link {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 90px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover, .customers-list-link:focus {
  border-color: var(--logo-site-nav-color);
  border-radius: 4px;
}

.customers-svg {
  margin: 0%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  fill: #afb1b8;
  max-width: 55px;
  min-height: 55px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-svg:hover, .customers-svg:focus {
  fill: #2196f3;
  border: #afb1b8;
}

.customers-list-link:hover .customers-svg,
.customers-list-link:focus .customers-svg {
  fill: var(--logo-site-nav-color);
  border-color: var(--logo-site-nav-color);
}

.section-customers {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  background: #ffffff;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  content: "";
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.customers-title {
  margin-top: 0%;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.customers-item {
  margin-bottom: 30px;
  text-align: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  height: 90px;
  width: 48%;
  content: "";
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item:hover, .customers-item:focus {
  fill: #2196f3;
}

.customers-item:nth-last-child(-n + 2) {
  margin-bottom: 0%;
}

@media screen and (min-width: 768px) {
  .customers-list-link {
    height: 90px;
    width: 226px;
  }
  .customers-item {
    height: 90px;
    width: 226px;
  }
  .customers-item:nth-last-child(-n + 3) {
    margin-bottom: 0%;
  }
}

@media screen and (min-width: 1200px) {
  .customers-list {
    flex-wrap: nowrap;
  }
  .customers-list-link {
    height: 90px;
    max-width: 170px;
  }
  .customers-title {
    font-size: 36px;
    line-height: 1.166;
  }
  .customers-item {
    margin-bottom: 0%;
    height: 90px;
    max-width: 170px;
  }
}

.footer-social-list-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
}

.join {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  padding-left: 0px;
  list-style: none;
  content: "";
  align-items: center;
}

.footer-social-list-svg {
  display: flex;
  align-items: center;
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover, .footer-social-list-link:focus {
  background-color: var(--logo-site-nav-color);
}

.footer-social-list-link:hover .social-list-svg,
.footer-social-list-link:focus .social-list-svg {
  fill: #ffffff;
}

.mein-footer {
  background: #2f303a;
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #2f303a;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-address::after {
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.logo-footer {
  margin-bottom: 20px;
  color: var(--logo-site-nav-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.accent-footer {
  justify-content: center;
  color: var(--white-text-color);
}

.city {
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 9px;
  color: var(--white-text-color);
}

.citi-mail {
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  font-family: Roboto, sans-serif;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.citi-mail:hover, .citi-mail:focus {
  color: var(--logo-site-nav-color);
}

.citi-tel {
  list-style: none;
  text-decoration: none;
  font-style: normal;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  padding: 0px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  font-family: Roboto;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.citi-tel:hover, .citi-tel:focus {
  color: var(--logo-site-nav-color);
}

.footer-form-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form-mail {
  display: flex;
  justify-content: center;
  outline: none;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  margin-bottom: 20px;
  padding-left: 20px;
}

.footer-form-svg {
  position: absolute;
  left: 78%;
  bottom: 30%;
  height: 24px;
  width: 24px;
  fill: #ffffff;
  border-radius: 0px;
}

.footer-form-button {
  margin: 0 auto;
  position: relative;
  text-align: start;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  padding-left: 29px;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-form-mail::placeholder {
  width: 47px;
  height: 20px;
  padding-left: 6px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer-form-title {
    display: flex;
    justify-content: center;
  }
  .footer-social-list {
    margin-bottom: 60px;
  }
  .social-icon {
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }
  .join {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .logo-footer {
    display: flex;
    justify-content: center;
  }
  .citi-tel {
    margin-bottom: 60px;
  }
  .footer-form-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer-form-title {
    display: flex;
    justify-content: center;
  }
  .footer-subscribe {
    padding-top: 60px;
  }
  .social-icon {
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }
  .join {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .logo-footer {
    display: flex;
    justify-content: center;
  }
  .footer-form-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer {
    padding: 40px 50px;
  }
  .container-footer {
    padding-top: 50px;
    float: left;
  }
  .social-icon {
    padding-top: 55px;
    float: right;
  }
  .footer-subscribe {
    clear: both;
  }
  .footer-form-mail {
    margin: 0 auto 20px;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
  }
  .footer-form-title {
    margin-bottom: 20px;
  }
  .footer {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .mein-footer {
    align-items: center;
  }
  .footer-address {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-form-mail {
    margin-bottom: 0%;
    display: flex;
    margin-right: 12px;
    width: 358px;
  }
  .footer-form-input {
    display: flex;
  }
  .city {
    margin-top: 20px;
  }
  .footer-form-input {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  min-height: 609px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0px;
}

.modal-close-btn:hover {
  fill: #2196f3;
}

.svg-vecktor {
  width: 11px;
  height: 11px;
  color: #000;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  margin-bottom: 12px;
  font-weight: 900px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form-input {
  display: block;
  height: 40px;
  width: 100%;
  padding-left: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus, .modal-form-input:hover {
  outline: none;
  border: 1px solid #2196F3;
}

.modal-form-wraper {
  display: block;
  position: relative;
}

.modal-form-label {
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.user-name-messege {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 10px;
}

.user-name-messege:focus, .user-name-messege:hover {
  outline: none;
  border: 1px solid #2196f3;
}

.user-name-messege::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-svg {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 15px;
  top: 50%;
  transform: translatey(-50%);
  fill: #212121;
}

.modal-form-input:focus + .modal-form-svg {
  fill: #2196f3;
}

.modal-form-policy-label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.modal-form-policy-label::before {
  height: 16px;
  width: 16px;
  content: "";
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.policy-form {
  display: flex;
  color: #2196f3;
  list-style: square;
  text-decoration-line: underline;
  margin-left: 5px;
}

.modal-form-svg-polycy {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  left: -27px;
  top: 50%;
  transform: translatey(-50%);
  fill: #2196f3;
}

.modal-form-policy:checked + .modal-form-policy-label::before {
  background-image: url(../svg.img/check.svg);
  border: none;
}

.modal-form-button {
  margin: auto;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #2196f3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .modal-form-policy-label {
    font-size: 14px;
    line-height: 1.714;
  }
}
/*# sourceMappingURL=main.css.map */