.footer-social-list-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}

.box-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container .footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.social-icon {
  // margin-left: 70px;

  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.join {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.footer-social-list {
  display: flex;
  justify-content: center;

  // justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 60px;
  padding-left: 0px;
  list-style: none;
  content: "";
  align-items: center;
}
.footer-social-list-svg {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  fill: #ffffff;

  width: 20px;
  height: 20px;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--logo-site-nav-color);
  }
}

.footer-social-list-link:hover .social-list-svg,
.footer-social-list-link:focus .social-list-svg {
  fill: #ffffff;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2f303a;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-address {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer-address::after {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Roboto;
  font-style: normal;
}
.logo-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: var(--logo-site-nav-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.accent-footer {
  justify-content: center;
  color: var(--white-text-color);
}
.city {
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 9px;
  color: var(--white-text-color);
}
.citi-mail {
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 8px;

  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  font-family: Roboto, sans-serif;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--logo-site-nav-color);
  }
}

.citi-tel {
  justify-content: center;
  list-style: none;
  text-decoration: none;
  font-style: normal;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 60px;
  padding: 0px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  font-family: Roboto;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--logo-site-nav-color);
  }
}

.footer-form {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // margin-left: 50px;
  // width: 570px;
  // height: 86px;

  &-title {
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.footer-form-mail {
  display: flex;
  justify-content: center;
  outline: none;
  width: 450px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background: #2f303a;
  margin-bottom: 20px;
  margin-right: 12px;
  padding-left: 20px;
}
.footer-form-svg {
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  position: absolute;
  left: 62%;
  bottom: 11%;
  height: 24px;
  width: 24px;
  fill: #ffffff;
  border-radius: 0px;
}
.footer-button {
  display: flex;
  justify-content: center;
  position: relative;
}

.footer-form-button {
  text-align: start;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  padding-left: 29px;

  letter-spacing: 0.06em;

  color: #ffffff;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.footer-form-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
// .footer-subscribe {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
// }
// .footer-form-mail {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
// }
.footer-form-mail::placeholder {
  width: 47px;
  height: 20px;
  padding-left: 6px;

  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
