.modal-form {
  display: flex;
  flex-direction: column;

  &-title {
    margin-bottom: 12px;
    font-weight: 900px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
  }
}
.modal-form-input {
  display: block;
  height: 40px;
  width: 100%;
  padding-left: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    outline: none;
    border: 1px solid#2196F3;
  }
}
.modal-form-wraper {
  display: block;
  position: relative;
}
.modal-form-label {
  display: block;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.01em;

  color: #757575;
}
.user-name-messege {
  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 10px;

  &:focus,
  &:hover {
    outline: none;
    border: 1px solid #2196f3;
  }

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form-svg {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 15px;
  top: 50%;
  transform: translatey(-50%);
  fill: #212121;
}

.modal-form-input:focus + .modal-form-svg {
  fill: #2196f3;
}
.modal-form-policy-label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;

  margin-bottom: 30px;

  &::before {
    height: 16px;
    width: 16px;
    content: "";
    border: 2px solid#212121;
    border-radius: 2px;
    margin-right: 7px;
  }
}

.policy-form {
  display: flex;
  color: #2196f3;
  list-style: square;
  text-decoration-line: underline;
  margin-left: 5px;
}

.modal-form-svg-polycy {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  left: -27px;
  top: 50%;
  transform: translatey(-50%);
  fill: #2196f3;
}
.modal-form-policy:checked + .modal-form-policy-label::before {
  background-image: url(../svg.img/check.svg);
  border: none;
}
.modal-form-button {
  margin: auto;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #2196f3;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  outline: none;
}
