.portfolio-thumb {
  position: relative;
  width: 370px;
  height: 294px;
}
.portfolio-overlay {
  padding: 63px 24px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.555;
  opacity: 0;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(+150px);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0%);
  opacity: 1;
}
.portfolio-item {
  border: 1px solid #eeeeee;

  &-item:hover,
  &-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-gallery {
  display: flex;
  text-decoration: none;
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-box {
  padding: 20px 24px;
}

.button-portfolio-list {
  display: flex;
  justify-content: center;
  padding-left: 0px;

  margin-top: 0px;
  margin-bottom: 50px;
}
.button-portfolio {
  border: 1px solid transparent;
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .portfolio-item {
  margin-bottom: 30px;
}
.portfolio-list.portfolio-item:nth-last-child(3) {
  margin: 0px;
}
.button-portfolio-list .item + .item {
  margin-left: 8px;
}
.button-portfolio-list :hover,
.button-portfolio-list :focus {
  color: var(--white-text-color);
  background-color: var(--logo-site-nav-color);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  padding-left: 0px;
}
.portfolio-title {
  margin-top: 0px;
  margin-bottom: 2px;
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}
.portfolio-text {
  margin: 0px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  color: var(--title-text-color);
}
