.social-list {
  display: flex;
  content: "";
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  &-svg {
    justify-content: space-between;
    align-items: center;
    fill: #afb1b8;

    width: 20px;
    height: 20px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--logo-site-nav-color);
  }
}
.social-list-link:hover .social-list-svg,
.social-list-link:focus .social-list-svg {
  fill: #ffffff;
}
.section-command {
  padding-bottom: 60px;
  padding-top: 60px;
  background: #f5f4fa;
}
.command-box {
  width: 100%;
  box-sizing: border-box;
  padding: 30px 32px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.command-list .item {
  margin-bottom: 30px;
  background: #ffffff;
}
.command-list .item:last-child {
  margin-bottom: 0%;
}

.command-title {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  &-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
  }

  &-text {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.187;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
  }
}
.picture {
  max-width: 450px;
}
@media screen and (min-width: 480px) {
  .command-box {
    width: 100%;
  }
  .command-title {
    font-size: 28px;
    line-height: 1.178;
  }
}

@media screen and (min-width: 768px) {
  .command-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .command-list .item:nth-last-child(-n + 2) {
    margin-bottom: 0%;
  }

  .command-box {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .section-command {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .command-box {
    height: 186px;
    width: 100%;
  }
  .command-title {
    font-size: 36px;
    line-height: 1.166;
  }
  .command-list .item {
    margin-bottom: 0%;
  }
}
