.proposition-item {
  width: 270px;

  ::before {
  display: flex;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  width: 100%;
  display: block;
  content: "";

  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
}
}

.proposition-item-antenna::before {
  background-image: url("../svg.img/antenna.svg");
}
.proposition-item-clock::before {
  background-image: url("../svg.img/clock.svg");
}
.proposition-item-diagram::before {
  background-image: url("../svg.img/diagram.svg");
}
.proposition-item-astronaut::before {
  background-image: url("../svg.img/astronaut.svg");
}
.section-proposition {
  background-color: var(--white-text-color);
  padding-bottom: 94px;
  padding-top: 94px;
}
.proposition-title-list {
  display: flex;
  justify-content: space-between;

  margin-top: 0px;
  margin-bottom: 10px;
  width: 270px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);
}

.proposition-list {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}
.proposition-list .item {
  width: 270px;
  margin-right: 30px;
}
.proposition-list .item:nth-child(4) {
  margin: 0px;
}

.proposition-text {
  display: flex;

  margin-top: 0px;
  margin-bottom: 0px;
  font-style: 400px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}
